# general file excludes
~*.tmp
~*.docx
*.fmt
*~
~$*

# ignore Python caches
__pycache__

# ignore Xilinx iMPACT files
/iMPACT/*.*
!/iMPACT/*.ipf
/iMPACT/auto_project*.ipf

# ignore Xilinx IPCore files
/netlist/**/*.*
!/netlist/**/*.cgp
!/netlist/**/*.xco
!/netlist/**/*.vhdl

# ignore project files
/Projects/**/*.*
/Projects/**/ise
# allow Xilinx ISE setting files
!/Projects/**/*.xise
!/Projects/**/*.xpr
!/Projects/**/iseconfig/filter.filter
# allow Altera QuartusII setting files
!/Projects/**/*.qpf
!/Projects/**/*.qsf

# ignore PicoBlaze files
/psm/**/*.*
!/psm/**/*.psm
!/psm/**/*.psm4
!/psm/**/*.vhdl
!/psm/**/*.hex
!/psm/**/*.mif
!/psm/**/*.ps1
!/psm/**/*.sh

# ignore files from PoC
/vhdl/**/PoC.my_project.vhdl

/.project
