[submodule "lib/PoC"]
	path = lib/PoC
	url = git@github.com:VLSI-EDA/PoC.git
[submodule "L_PicoBlaze"]
	path = lib/L_PicoBlaze
	url = git@github.com:Paebbels/PicoBlaze-Library.git
[submodule "lib/opbasm"]
	path = lib/opbasm
	url = git@github.com:Paebbels/opbasm.git
[submodule "lib/pauloBlaze"]
	path = lib/pauloBlaze
	url = git@github.com:Paebbels/pauloBlaze.git
